In [ ]:
# building the MODEL based on LOGISTIC REGRESSION

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

%matplotlib inline

In [7]:
train_df = pd.read_csv('student-mat-train.csv')
train_df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3,pass
0,GP,F,18,U,GT3,T,1,1,other,other,...,no,5,4,4,1,1,4,4,10,1
1,GP,F,17,U,LE3,T,3,3,other,other,...,yes,5,3,3,2,3,1,56,8,0
2,GP,M,18,U,GT3,T,4,4,other,other,...,no,4,3,3,2,2,3,3,11,1
3,GP,M,16,U,GT3,T,4,4,services,services,...,no,5,3,2,1,2,5,0,12,1
4,GP,F,18,U,LE3,T,3,3,services,services,...,no,5,3,3,1,1,1,7,17,1

In [8]:
# CONVERTING CATEGORICAL DATA to NUMERICAL VARIABLES : ONE HOT ENCODING
# using the function :  pd.get_dummies()

In [9]:
internet_dummies = pd.get_dummies(train_df[['internet']], drop_first=True)
internet_dummies.head()

   internet_yes
0             1
1             1
2             1
3             1
4             1

In [10]:
internet_dummies = pd.get_dummies(train_df[['Mjob']], drop_first=True)
internet_dummies.head()

   Mjob_health  Mjob_other  Mjob_services  Mjob_teacher
0            0           1              0             0
1            0           1              0             0
2            0           1              0             0
3            0           0              1             0
4            0           0              1             0

In [11]:
internet_dummies = pd.get_dummies(train_df[['Fjob']], drop_first=True)
internet_dummies.head()

   Fjob_health  Fjob_other  Fjob_services  Fjob_teacher
0            0           1              0             0
1            0           1              0             0
2            0           1              0             0
3            0           0              1             0
4            0           0              1             0

In [13]:
internet_dummies = pd.get_dummies(train_df[['romantic']], drop_first=True)
internet_dummies.head()

   romantic_yes
0             0
1             1
2             0
3             0
4             0

In [14]:
# APPLYING ONE-HOT ENCODING to the ENTIRE TRAINING DATAFRAME

In [15]:
train_dummies_df = pd.get_dummies(train_df, drop_first=True)
train_dummies_df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,guardian_mother,guardian_other,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,18,1,1,2,2,0,5,4,4,1,...,1,0,1,0,0,1,1,1,1,0
1,17,3,3,1,2,0,5,3,3,2,...,1,0,0,1,0,1,1,1,1,1
2,18,4,4,1,3,0,4,3,3,2,...,1,0,0,0,0,1,1,1,1,0
3,16,4,4,1,1,0,5,3,2,1,...,1,0,0,0,0,1,1,1,1,0
4,18,3,3,1,4,0,5,3,3,1,...,1,0,0,1,0,0,1,1,1,0

In [18]:
train_dummies_df.columns.sort_values()

Index(['Dalc', 'Fedu', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'G3', 'Medu', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'Pstatus_T', 'Walc', 'absences',
       'activities_yes', 'address_U', 'age', 'failures', 'famrel',
       'famsize_LE3', 'famsup_yes', 'freetime', 'goout', 'guardian_mother',
       'guardian_other', 'health', 'higher_yes', 'internet_yes', 'nursery_yes',
       'paid_yes', 'pass', 'reason_home', 'reason_other', 'reason_reputation',
       'romantic_yes', 'school_MS', 'schoolsup_yes', 'sex_M', 'studytime',
       'traveltime'],
      dtype='object')

In [ ]:
# APPLYING ONE-HOT ENCODING to the ENTIRE TESTING DATAFRAME

In [19]:
test_df = pd.read_csv('student-mat-test.csv')
test_df.head(2)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3,pass
0,GP,F,18,U,GT3,T,2,2,at_home,services,...,yes,4,3,3,1,1,3,0,0,0
1,GP,F,15,U,GT3,T,4,4,services,teacher,...,no,4,4,4,1,1,3,2,7,0

In [21]:
test_dummies_df = pd.get_dummies(test_df, drop_first=True)
test_dummies_df.head(2)

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,guardian_mother,guardian_other,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,18,2,2,1,3,0,4,3,3,1,...,1,0,0,1,1,1,1,1,1,1
1,15,4,4,1,2,1,4,4,4,1,...,0,0,1,1,0,1,0,1,1,0

In [23]:
print(test_dummies_df.shape)
print(train_dummies_df.shape)
# print(train_dummies_df.columns)
# print(test_dummies_df.columns)

(79, 41)
(316, 41)

In [ ]:
# making the PREDICTORS and the PREDICTAND (OUTPUT) variable

In [31]:
# separate the TRAINING DATA into predictors and predictand
xCols = [col for col in train_dummies_df.columns if col not in ['pass', 'G3']]
X_train = train_dummies_df[xCols]
y_train = train_dummies_df['pass']
X_train.head()
y_train.head()

0    1
1    0
2    1
3    1
4    1
Name: pass, dtype: int64

In [32]:
# separate the TESTING DATA into predictors and predictand
X_test = test_dummies_df[xCols]
y_test = test_dummies_df['pass']
X_test.head()
y_test.head()

0    0
1    0
2    0
3    0
4    1
Name: pass, dtype: int64

In [33]:
# TRAINING the LOGISTIC REGRESSION MODEL

In [34]:
## making a logistic regression OBJECT 
logReg = LogisticRegression(C=1e15)
logReg

## to train it, and set the values of the coefficients
logReg.fit(X_train, y_train)

/home/bogdan/miniconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=1000000000000000.0)

In [ ]:
# INSPECTING the TRAINING MODEL

In [36]:
print(logReg.intercept_)

[1.35748392]

In [37]:
print(logReg.coef_)

[[-0.05668254 -0.01038776  0.24712084  0.22015577  0.3401917  -0.76064415
   0.22256144  0.15532393 -0.74270861 -0.19089258  0.2597469  -0.23700572
  -0.022314   -0.39811162  0.64490976  0.68660388  0.2885885  -0.75427168
   0.06019398 -0.77358083  0.21905489 -0.88976476 -0.46021593  0.48719847
   0.17395456  1.07058764  0.2429677   1.36119211  0.61043188 -0.80403997
  -1.03205844 -0.75846073 -0.71272962 -0.00448134 -0.07175915 -0.8460349
   1.62265889  0.79468463 -0.22789449]]

In [38]:
print(X_train.columns)

Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'school_MS',
       'sex_M', 'address_U', 'famsize_LE3', 'Pstatus_T', 'Mjob_health',
       'Mjob_other', 'Mjob_services', 'Mjob_teacher', 'Fjob_health',
       'Fjob_other', 'Fjob_services', 'Fjob_teacher', 'reason_home',
       'reason_other', 'reason_reputation', 'guardian_mother',
       'guardian_other', 'schoolsup_yes', 'famsup_yes', 'paid_yes',
       'activities_yes', 'nursery_yes', 'higher_yes', 'internet_yes',
       'romantic_yes'],
      dtype='object')

In [ ]:
# PRINTING the EQUATION

In [39]:
equation = '{:.2f}'.format(logReg.intercept_[0])
for (coef, feature) in zip(logReg.coef_[0], X_train.columns):
    equation += ' + {:.2f}({})'.format(coef, feature)
print(equation)

1.36 + -0.06(age) + -0.01(Medu) + 0.25(Fedu) + 0.22(traveltime) + 0.34(studytime) + -0.76(failures) + 0.22(famrel) + 0.16(freetime) + -0.74(goout) + -0.19(Dalc) + 0.26(Walc) + -0.24(health) + -0.02(absences) + -0.40(school_MS) + 0.64(sex_M) + 0.69(address_U) + 0.29(famsize_LE3) + -0.75(Pstatus_T) + 0.06(Mjob_health) + -0.77(Mjob_other) + 0.22(Mjob_services) + -0.89(Mjob_teacher) + -0.46(Fjob_health) + 0.49(Fjob_other) + 0.17(Fjob_services) + 1.07(Fjob_teacher) + 0.24(reason_home) + 1.36(reason_other) + 0.61(reason_reputation) + -0.80(guardian_mother) + -1.03(guardian_other) + -0.76(schoolsup_yes) + -0.71(famsup_yes) + -0.00(paid_yes) + -0.07(activities_yes) + -0.85(nursery_yes) + 1.62(higher_yes) + 0.79(internet_yes) + -0.23(romantic_yes)

In [40]:
z = logReg.intercept_ + np.dot(logReg.coef_, X_train.iloc[[0], :].values.T)
1 / (1+np.exp(-z))

array([[0.33524354]])

In [42]:
# COMPUTING the PROBABILITY for BOTH CLASSES
# it will give you the probability predicted for both clases (these will sum to 1)
# by using .predict_proba() method.

In [43]:
# predicts the probability of each class (failing, passing)
print(logReg.predict_proba(X_train.iloc[[1], :]))

[[0.36216179 0.63783821]]

In [ ]:
# and for the entire DATASET

In [46]:
# for each student, it predict PROBAB_FAILING, PROBAB_PASSING
logReg.predict_proba(X_train)

array([[0.66475646, 0.33524354],
       [0.36216179, 0.63783821],
       [0.11930042, 0.88069958],
       [0.05413912, 0.94586088],
       [0.0713549 , 0.9286451 ],
       [0.38669634, 0.61330366],
       [0.089364  , 0.910636  ],
       [0.05765415, 0.94234585],
       [0.01885908, 0.98114092],
       [0.08335633, 0.91664367],
       [0.29927869, 0.70072131],
       [0.24977243, 0.75022757],
       [0.66224706, 0.33775294],
       [0.04603213, 0.95396787],
       [0.27297553, 0.72702447],
       [0.0084277 , 0.9915723 ],
       [0.13931297, 0.86068703],
       [0.36930353, 0.63069647],
       [0.21861446, 0.78138554],
       [0.0316435 , 0.9683565 ],
       [0.11252969, 0.88747031],
       [0.06591822, 0.93408178],
       [0.61228296, 0.38771704],
       [0.02820771, 0.97179229],
       [0.37798238, 0.62201762],
       [0.12968819, 0.87031181],
       [0.24015201, 0.75984799],
       [0.36132995, 0.63867005],
       [0.15379611, 0.84620389],
       [0.05911207, 0.94088793],
       [0.27117849, 0.72882151],
       [0.09847007, 0.90152993],
       [0.41064368, 0.58935632],
       [0.36119873, 0.63880127],
       [0.01274877, 0.98725123],
       [0.49406023, 0.50593977],
       [0.27476071, 0.72523929],
       [0.13653167, 0.86346833],
       [0.49305773, 0.50694227],
       [0.11843567, 0.88156433],
       [0.58659631, 0.41340369],
       [0.27125527, 0.72874473],
       [0.17255056, 0.82744944],
       [0.56599017, 0.43400983],
       [0.19994833, 0.80005167],
       [0.13442882, 0.86557118],
       [0.11353821, 0.88646179],
       [0.77859936, 0.22140064],
       [0.05922948, 0.94077052],
       [0.22489351, 0.77510649],
       [0.2302096 , 0.7697904 ],
       [0.27633048, 0.72366952],
       [0.07688286, 0.92311714],
       [0.81481216, 0.18518784],
       [0.02992761, 0.97007239],
       [0.45387099, 0.54612901],
       [0.38251001, 0.61748999],
       [0.20848244, 0.79151756],
       [0.18956693, 0.81043307],
       [0.85168489, 0.14831511],
       [0.05640797, 0.94359203],
       [0.10397584, 0.89602416],
       [0.00960991, 0.99039009],
       [0.53418796, 0.46581204],
       [0.15921314, 0.84078686],
       [0.01733451, 0.98266549],
       [0.1137931 , 0.8862069 ],
       [0.63403758, 0.36596242],
       [0.65502385, 0.34497615],
       [0.04821146, 0.95178854],
       [0.31813193, 0.68186807],
       [0.49052512, 0.50947488],
       [0.9805044 , 0.0194956 ],
       [0.58669306, 0.41330694],
       [0.07115701, 0.92884299],
       [0.10852915, 0.89147085],
       [0.09397069, 0.90602931],
       [0.67676279, 0.32323721],
       [0.03167365, 0.96832635],
       [0.18779584, 0.81220416],
       [0.41595252, 0.58404748],
       [0.13562962, 0.86437038],
       [0.25087936, 0.74912064],
       [0.84022312, 0.15977688],
       [0.42248836, 0.57751164],
       [0.35135261, 0.64864739],
       [0.36672339, 0.63327661],
       [0.0762479 , 0.9237521 ],
       [0.05705124, 0.94294876],
       [0.6715054 , 0.3284946 ],
       [0.7141045 , 0.2858955 ],
       [0.39097292, 0.60902708],
       [0.32598056, 0.67401944],
       [0.25094105, 0.74905895],
       [0.13206996, 0.86793004],
       [0.26093485, 0.73906515],
       [0.12816739, 0.87183261],
       [0.2901388 , 0.7098612 ],
       [0.18198459, 0.81801541],
       [0.24094145, 0.75905855],
       [0.23320723, 0.76679277],
       [0.24842429, 0.75157571],
       [0.01559235, 0.98440765],
       [0.28791068, 0.71208932],
       [0.16003122, 0.83996878],
       [0.57227521, 0.42772479],
       [0.05792922, 0.94207078],
       [0.93217318, 0.06782682],
       [0.03122927, 0.96877073],
       [0.14295467, 0.85704533],
       [0.94280571, 0.05719429],
       [0.8220303 , 0.1779697 ],
       [0.06297183, 0.93702817],
       [0.22214032, 0.77785968],
       [0.25878677, 0.74121323],
       [0.76350936, 0.23649064],
       [0.01679572, 0.98320428],
       [0.01735056, 0.98264944],
       [0.28102853, 0.71897147],
       [0.11678741, 0.88321259],
       [0.80192229, 0.19807771],
       [0.76044045, 0.23955955],
       [0.79517914, 0.20482086],
       [0.83615968, 0.16384032],
       [0.322809  , 0.677191  ],
       [0.60041897, 0.39958103],
       [0.1501491 , 0.8498509 ],
       [0.60188506, 0.39811494],
       [0.32113202, 0.67886798],
       [0.41384167, 0.58615833],
       [0.26500057, 0.73499943],
       [0.06958807, 0.93041193],
       [0.08557621, 0.91442379],
       [0.41152165, 0.58847835],
       [0.49772405, 0.50227595],
       [0.12884662, 0.87115338],
       [0.0308377 , 0.9691623 ],
       [0.49919661, 0.50080339],
       [0.29297243, 0.70702757],
       [0.05816707, 0.94183293],
       [0.10594634, 0.89405366],
       [0.43991487, 0.56008513],
       [0.88374701, 0.11625299],
       [0.28511003, 0.71488997],
       [0.34075763, 0.65924237],
       [0.39069216, 0.60930784],
       [0.21429363, 0.78570637],
       [0.04298145, 0.95701855],
       [0.19350526, 0.80649474],
       [0.7294443 , 0.2705557 ],
       [0.54952805, 0.45047195],
       [0.47378479, 0.52621521],
       [0.30428847, 0.69571153],
       [0.04072638, 0.95927362],
       [0.64845332, 0.35154668],
       [0.76129642, 0.23870358],
       [0.39660267, 0.60339733],
       [0.1878362 , 0.8121638 ],
       [0.03164499, 0.96835501],
       [0.3161226 , 0.6838774 ],
       [0.41687321, 0.58312679],
       [0.02277918, 0.97722082],
       [0.30674919, 0.69325081],
       [0.03589481, 0.96410519],
       [0.22212063, 0.77787937],
       [0.57083053, 0.42916947],
       [0.72973671, 0.27026329],
       [0.27583559, 0.72416441],
       [0.66241269, 0.33758731],
       [0.50945388, 0.49054612],
       [0.05063033, 0.94936967],
       [0.82935178, 0.17064822],
       [0.55834681, 0.44165319],
       [0.34428896, 0.65571104],
       [0.59041951, 0.40958049],
       [0.3595944 , 0.6404056 ],
       [0.51349562, 0.48650438],
       [0.82280475, 0.17719525],
       [0.29008833, 0.70991167],
       [0.40245111, 0.59754889],
       [0.20540766, 0.79459234],
       [0.34913202, 0.65086798],
       [0.98155929, 0.01844071],
       [0.09558367, 0.90441633],
       [0.67888634, 0.32111366],
       [0.11894415, 0.88105585],
       [0.06935612, 0.93064388],
       [0.17589472, 0.82410528],
       [0.27806204, 0.72193796],
       [0.99073672, 0.00926328],
       [0.03931785, 0.96068215],
       [0.05203806, 0.94796194],
       [0.31640942, 0.68359058],
       [0.52322505, 0.47677495],
       [0.24958346, 0.75041654],
       [0.38904205, 0.61095795],
       [0.27349259, 0.72650741],
       [0.62067959, 0.37932041],
       [0.26300685, 0.73699315],
       [0.03749199, 0.96250801],
       [0.19690738, 0.80309262],
       [0.63473161, 0.36526839],
       [0.96100095, 0.03899905],
       [0.57783024, 0.42216976],
       [0.07990013, 0.92009987],
       [0.92472509, 0.07527491],
       [0.47968512, 0.52031488],
       [0.81919054, 0.18080946],
       [0.45552394, 0.54447606],
       [0.24105793, 0.75894207],
       [0.46532995, 0.53467005],
       [0.0589156 , 0.9410844 ],
       [0.41980932, 0.58019068],
       [0.58448803, 0.41551197],
       [0.38200418, 0.61799582],
       [0.2152252 , 0.7847748 ],
       [0.04473779, 0.95526221],
       [0.22010464, 0.77989536],
       [0.12251115, 0.87748885],
       [0.30632732, 0.69367268],
       [0.05086487, 0.94913513],
       [0.64810358, 0.35189642],
       [0.34415839, 0.65584161],
       [0.27936535, 0.72063465],
       [0.28196219, 0.71803781],
       [0.9191911 , 0.0808089 ],
       [0.03005183, 0.96994817],
       [0.13573804, 0.86426196],
       [0.73513144, 0.26486856],
       [0.42338735, 0.57661265],
       [0.18819762, 0.81180238],
       [0.91916473, 0.08083527],
       [0.51418142, 0.48581858],
       [0.87385395, 0.12614605],
       [0.27467955, 0.72532045],
       [0.26469815, 0.73530185],
       [0.17202298, 0.82797702],
       [0.28684023, 0.71315977],
       [0.46667652, 0.53332348],
       [0.14712984, 0.85287016],
       [0.47718181, 0.52281819],
       [0.74620572, 0.25379428],
       [0.0922474 , 0.9077526 ],
       [0.60596062, 0.39403938],
       [0.08442982, 0.91557018],
       [0.14209811, 0.85790189],
       [0.92372848, 0.07627152],
       [0.15963144, 0.84036856],
       [0.96606749, 0.03393251],
       [0.39777343, 0.60222657],
       [0.05177056, 0.94822944],
       [0.280793  , 0.719207  ],
       [0.55237761, 0.44762239],
       [0.38875895, 0.61124105],
       [0.41710159, 0.58289841],
       [0.61556441, 0.38443559],
       [0.10607345, 0.89392655],
       [0.1636361 , 0.8363639 ],
       [0.37431978, 0.62568022],
       [0.97170188, 0.02829812],
       [0.16152815, 0.83847185],
       [0.30109693, 0.69890307],
       [0.96379703, 0.03620297],
       [0.22048822, 0.77951178],
       [0.51434355, 0.48565645],
       [0.3295606 , 0.6704394 ],
       [0.58224826, 0.41775174],
       [0.17769241, 0.82230759],
       [0.02114179, 0.97885821],
       [0.34121276, 0.65878724],
       [0.39372013, 0.60627987],
       [0.26087232, 0.73912768],
       [0.04850868, 0.95149132],
       [0.24184233, 0.75815767],
       [0.0103273 , 0.9896727 ],
       [0.03913698, 0.96086302],
       [0.10872463, 0.89127537],
       [0.16902563, 0.83097437],
       [0.07099327, 0.92900673],
       [0.32379844, 0.67620156],
       [0.25395435, 0.74604565],
       [0.75787578, 0.24212422],
       [0.03162455, 0.96837545],
       [0.17819925, 0.82180075],
       [0.74145859, 0.25854141],
       [0.82294649, 0.17705351],
       [0.03867272, 0.96132728],
       [0.09824928, 0.90175072],
       [0.41095127, 0.58904873],
       [0.0912326 , 0.9087674 ],
       [0.41058764, 0.58941236],
       [0.12292076, 0.87707924],
       [0.00792737, 0.99207263],
       [0.08253416, 0.91746584],
       [0.15039114, 0.84960886],
       [0.01127239, 0.98872761],
       [0.08003325, 0.91996675],
       [0.27180646, 0.72819354],
       [0.2926238 , 0.7073762 ],
       [0.78861963, 0.21138037],
       [0.08101474, 0.91898526],
       [0.51783515, 0.48216485],
       [0.60677924, 0.39322076],
       [0.50424609, 0.49575391],
       [0.63559209, 0.36440791],
       [0.47971237, 0.52028763],
       [0.31310264, 0.68689736],
       [0.47801636, 0.52198364],
       [0.49317089, 0.50682911],
       [0.27563831, 0.72436169],
       [0.05564495, 0.94435505],
       [0.01615879, 0.98384121],
       [0.56086484, 0.43913516],
       [0.23493037, 0.76506963],
       [0.19325367, 0.80674633],
       [0.0519253 , 0.9480747 ]])

In [48]:
# COMPUTING the ACCURACY of the MODEL on TRAINING DATA

In [51]:
pred_train = logReg.predict(X_train)
pred_train
train_data_accuracy  = accuracy_score(pred_train, y_train)
train_data_accuracy

0.7626582278481012

In [47]:
# COMPUTING the ACCURACY of the MODEL on TESTING DATA

In [52]:
pred_test = logReg.predict(X_test)
pred_test
test_data_accuracy  = accuracy_score(pred_test, y_test)
test_data_accuracy

0.6455696202531646

In [ ]:
# Printing the ACCURACY

In [54]:
## printing 
print("Accuracy on the training data {:.2f}%".format(train_data_accuracy * 100))
print("Accuracy on the test data {:.2f}%".format(test_data_accuracy * 100))

Accuracy on the training data 76.27%
Accuracy on the test data 64.56%

In [ ]:
# It looks that the MODEL OVERFITS the DATA